<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>AnalogIST : {{badge.name}}</title>
  <style>{{style.css}}</style>
</head>
<body>
  
  <div class="container">
    <div class="badgeImg">
      <img src="{{badge.img}}" alt="Badge">
    </div>
    <div class="badgeInfos">
      <h4>{{badge.name}}</h4>
      <p class="issuedOn">{{t.issuedOn}} : {{badge.issuedOn}}</p>

      <p><a href="/view?u={{link.u}}&b={{link.b}}&l={{link.l}}" target="_blank">{{t.seeMore}}</a></p> 
      <a href="http://analyses.ezpaarse.org/" target="_blank">
        <img src="data:image/png;base64,{{style.img.ang}}" alt="AnalogIST" class="angLogo"> 
      </a>  
    </div>
  </div>

</body>
</html>