<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="public/css/embed.css">
  <title>AnalogIST : #badge.name#</title>
</head>
<body>
  
  <div class="container">
    <div class="badgeImg">
      <img src="#badge.img#" alt="Badge">
    </div>
    <div class="badgeInfos">
      <h4>#badge.name#</h4>
      <p class="issuedOn">#t.issuedOn# : #badge.issuedOn#</p>

      <p><a href="/view?u=#link.u#&b=#link.b#&l=#link.l#">#t.seeMore#</a></p> 
      <img src="/public/img/ang.png" alt="AnalogIST" class="angLogo">     
    </div>
  </div>

</body>
</html>