<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>AnalogIST : {{badge.name}}</title>
  <meta name="description" content="{{badge.description}}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{link.url}}/api/badges/view/{{link.u}}/{{link.b}}/{{link.l}}" />
  <meta property="og:title" content="AnalogIST : {{badge.name}}" />
  <meta property="og:description" content="{{badge.description}}" />
  <meta property="og:image" content="https://openbadgefactory.com/v1/badge/_/{{badge.id}}.png" />
  <meta property="og:language" content="{{link.l}}" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@ezpaarse" />
  <meta name="twitter:title" content="AnalogIST : {{badge.name}}" />
  <meta name="twitter:description" content="{{badge.description}}" />
  <meta name="twitter:image" content="https://openbadgefactory.com/v1/badge/_/{{badge.id}}.png" />
  <meta name="twitter:url" content="{{link.url}}/api/badges/view/{{link.u}}/{{link.b}}/{{link.l}}" />
  <style>{{style.css}}</style>
</head>
<body>
  
  <div class="container">
    <a href="http://analyses.ezpaarse.org/" target="_blank">
      <img src="data:image/png;base64,{{style.img.ang}}" alt="AnalogIST" class="logo">
    </a>
    <div class="badge">
      <div class="badgeImg">
        <img src="{{badge.image}}" alt="Badge">
      </div>
      <div class="badgeInfos">
        <h2>{{badge.name}}</h2>
        <p class="issuedOn"><strong>{{t.issuedOn}} :</strong> {{badge.issuedOn}}</p>
        <p class="description"><strong>{{t.description}} :</strong> {{badge.description}}</p>
        <p class="critèria"><strong>{{t.criteria}} :</strong> {{badge.criteria}}</p>
        <p class="recipient"><strong>{{t.recipient}} :</strong> {{user.avatar}} {{user.name}}</p> 
      </div>
    </div>
    <div class="footer">
      <a href="http://openbadgefactory.com" target="_blank">
        <img src="data:image/png;base64,{{style.img.obf}}" alt="OpenBadgeFactory">
      </a>
    </div>
  </div>
  
</body>
</html>